<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.server.dao.INewsDao">

	<!-- 查詢所有訊息 -->
	<select id="queryNews" resultMap="mybatis.mapper.news.entity.newsEntity">
		SELECT * FROM NEWS ORDER BY PUBLISH_TIME
	</select>
	
	<!-- 新增訊息 -->
	<insert id="insertNews">
		INSERT INTO NEWS (
			ID,
			TYPE,
			TITLE,
			DESCRIPTION,
			CONTENT,
			IMAGE,
			PUBLISH_TIME,
			IS_PUBLIC,
			IS_TOP,
			UPD_USER,
			UPD_TIME
		)
		VALUES (
			#{newsEntity.id},
			#{newsEntity.type},
			#{newsEntity.title},
			#{newsEntity.description},
			#{newsEntity.content},
			#{newsEntity.image},
			#{newsEntity.publishTime},
			#{newsEntity.isPublic},
			#{newsEntity.isTop},
			#{newsEntity.updUser},
			#{newsEntity.updTime}
		)
	</insert>

	<!-- 查詢特定訊息 -->
	<select id="querySpecNews" resultMap="mybatis.mapper.news.entity.newsEntity">
		SELECT * FROM NEWS
		WHERE ID = #{newsId}
	</select>
	
	<!-- 刪除特定訊息 -->
	<delete id="deleteSpecNews">
		DELETE FROM NEWS WHERE ID = #{newsId}
	</delete>
	
	<!-- 查詢特定範圍內的幾筆訊息 -->
	<select id="querySpecRangeNews" resultMap="mybatis.mapper.news.entity.newsEntity">
		<!-- 依據是否置頂及發佈時間排序，讓置頂訊息為第一筆資料 -->
		SELECT * FROM NEWS ORDER BY IS_TOP DESC, PUBLISH_TIME DESC LIMIT #{count} OFFSET #{overCount}
	</select>
	
	<!-- 查詢總筆數 -->
	<select id="queryTotalNewsCount" resultType="java.lang.Integer">
		SELECT COUNT(ID) FROM NEWS
	</select>
	
</mapper>