<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.menu.entity">

	<!-- 餐點Entity -->
	<resultMap id="mealEntity" type="com.web.server.entity.MealEntity">
		<result column="ID" property="id" />
		<result column="CATEGORY" property="category" />
		<result column="SUB_CATEGORY_NAME" property="subCategoryName" />
		<result column="SUB_CATEGORY" property="subCategory" />
		<result column="SUBCATE_SORT" property="subCateSort" />
		<result column="NAME" property="name" />
		<result column="DESCRIPTION" property="description" />
		<result column="INGREDIENT" property="ingredient" />
		<result column="NOTE" property="note" />
		<result column="PRICE" property="price" />
		<result column="IMAGE" property="image" />
		<result column="LIMIT_DATE" property="limitDate" />
		<result column="SORT" property="sort" />
		<result column="IS_PUBLIC" property="isPublic" />
		<result column="ADDED_TIME" property="addedTime" />
		<result column="UPD_TIME" property="updTime" />
	</resultMap>
	
	<!-- 特定種類餐點Entity -->
	<resultMap id="menuSpecCateEntity" type="com.web.server.entity.MenuSpecCateEntity">
		<result column="NAME" property="subCateName" />
		<result column="SUBCATE_SORT" property="subCateSort" />
		<result column="MEAL_NAME" property="mealName" />
		<result column="DESCRIPTION" property="description" />
		<result column="INGREDIENT" property="ingredient" />
		<result column="NOTE" property="note" />
		<result column="PRICE" property="price" />
		<result column="IMAGE" property="image" />
		<result column="LIMIT_DATE" property="limitDate" />
		<result column="SORT" property="sort" />
	</resultMap>

	<!-- 餐點分類Entity -->
	<resultMap id="menuCategoryEntity" type="com.web.server.entity.MenuCategoryEntity">
		<result column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="ZH_NAME" property="zhName" />
		<result column="ICON" property="icon" />
		<result column="SORT" property="sort" />
	</resultMap>

	<!-- 餐點子分類Entity -->
	<resultMap id="menuSubCategoryEntity" type="com.web.server.entity.MenuSubCategoryEntity">
		<result column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="CATEGORY_ID" property="categoryId" />
		<result column="SORT" property="sort" />
	</resultMap>
	
	<!-- 分類管理Entity -->
	<resultMap id="menuCategoryInfoEntity" type="com.web.server.entity.MenuCategoryInfoEntity">
		<result column="ID" property="categoryId" />
		<result column="NAME" property="categoryName" />
		<result column="ZH_NAME" property="cateZhName" />
		<result column="ICON" property="categoryIcon" />
		<result column="SORT" property="categorySort" />
		<result column="SUB_CATE_ID" property="subCateId" />
		<result column="SUB_CATE_NAME" property="subCateName" />
		<result column="SUB_CATE_SORT" property="subCateSort" />
	</resultMap>
</mapper>