<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.server.dao.IMenuCategoryDao">

	<!-- 查詢所有餐點類別 -->
	<select id="queryMenuCategory" resultMap="mybatis.mapper.menu.entity.menuCategoryEntity">
		SELECT ID, NAME, ZH_NAME, ICON FROM CATEGORY ORDER BY SORT
	</select>
	
	<!-- 查詢所有餐點子類別 -->
	<select id="querySubCategory" resultMap="mybatis.mapper.menu.entity.menuSubCategoryEntity">
		SELECT * FROM SUB_CATEGORY ORDER BY CATEGORY_ID, SORT
	</select>
	
	<!-- 查詢分類管理(所有分類) -->
	<select id="queryAllCateInfo" resultMap="mybatis.mapper.menu.entity.menuCategoryInfoEntity">
		SELECT cate.ID, cate.NAME, cate.ZH_NAME, cate.ICON, cate.SORT, sub.ID SUB_CATE_ID, sub.NAME SUB_CATE_NAME, sub.SORT SUB_CATE_SORT 
		FROM CATEGORY cate
		LEFT JOIN SUB_CATEGORY sub
		ON cate.ID = sub.CATEGORY_ID
		ORDER BY cate.SORT, sub.SORT
	</select>
	
	<!-- 查詢分類管理(特定分類) -->
	<select id="queryCateInfo" resultMap="mybatis.mapper.menu.entity.menuCategoryInfoEntity">
		SELECT cate.ID, cate.NAME, cate.ZH_NAME, cate.ICON, cate.SORT, sub.ID SUB_CATE_ID, sub.NAME SUB_CATE_NAME, sub.SORT SUB_CATE_SORT 
		FROM CATEGORY cate
		LEFT JOIN SUB_CATEGORY sub
		ON cate.ID = sub.CATEGORY_ID
		WHERE cate.ID = #{categoryId}
		ORDER BY cate.SORT, sub.SORT
	</select>
	
	<!-- 儲存設定分類修改(修改分類) -->
	<update id="updateCategoryInfo">
		UPDATE CATEGORY
		SET NAME = #{category.name}, ZH_NAME = #{category.zhName}, ICON = #{category.icon}
		WHERE ID = #{category.id} 
	</update>
	
	<!-- 儲存設定分類修改(修改子分類) -->
	<update id="updateSubCategoryInfo" parameterType="java.util.ArrayList">
		<foreach item="subCategory" collection="subCategoryList" open="" close="" separator=";">
			UPDATE SUB_CATEGORY
			SET NAME = #{subCategory.name}, SORT = #{subCategory.sort}
			WHERE ID = #{subCategory.id}
		</foreach> 
	</update>
	
	<!-- 查詢最新的子分類ID -->
	<select id="queryMaxSubCateId" resultType="java.lang.Integer">
		SELECT ID FROM SUB_CATEGORY ORDER BY ID DESC LIMIT 0, 1
	</select>
	
	<!-- 查詢最新的分類ID -->
	<select id="queryMaxCategoryId" resultType="java.lang.Integer">
		SELECT ID FROM CATEGORY ORDER BY ID DESC LIMIT 0, 1
	</select>
	
	<!-- 儲存設定分類修改(新增子分類) -->
	<insert id="insertSubCategoryInfo" parameterType="java.util.ArrayList">
		<foreach item="subCategory" collection="subCategoryList" open="" close="" separator=";">
			INSERT INTO SUB_CATEGORY (
				ID,
				NAME,
				CATEGORY_ID,
				SORT
			)
			VALUES (
				#{subCategory.id},
				#{subCategory.name},
				#{subCategory.categoryId},
				#{subCategory.sort}
			)
		</foreach>
	</insert>
	
	<!-- 儲存設定分類修改(新增分類) -->
	<insert id="insertCategoryInfo">
		INSERT INTO CATEGORY (
			ID,
			NAME,
			ZH_NAME,
			ICON,
			SORT
		)
		VALUES (
			#{category.id},
			#{category.name},
			#{category.zhName},
			#{category.icon},
			#{category.sort}
		)
	</insert>
	
	<!-- 刪除分類 -->
	<delete id="deleteCategory">
		DELETE FROM CATEGORY WHERE ID = #{categoryId}
	</delete>
	
	<!-- 刪除對應分類的餐點 -->
	<delete id="deleteMealsByCategory">
		DELETE FROM MEALS WHERE CATEGORY = #{categoryId}
	</delete>
	
	<!-- 刪除對應分類的子分類 -->
	<delete id="deleteSubCateByCate">
		DELETE FROM SUB_CATEGORY WHERE CATEGORY_ID = #{categoryId}
	</delete>
	
	<!-- 刪除子分類 -->
	<delete id="deleteSubCategory">
		DELETE FROM SUB_CATEGORY WHERE ID = #{subCategoryId}
	</delete>
	
	<!-- 刪除對應子分類的餐點 -->
	<delete id="deleteMealsBySubCate">
		DELETE FROM MEALS WHERE SUB_CATEGORY = #{subCategoryId}
	</delete>
	
	<!-- 更新分類順序 -->
	<update id="updateCategorySort" parameterType="java.util.ArrayList">
		<foreach item="category" collection="categoryList" open="" close="" separator=";">
			UPDATE CATEGORY SET SORT = #{category.sort} WHERE ID = #{category.id} 
		</foreach>
	</update>
	
</mapper>