<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.entity">

	<!-- 訊息Entity -->
	<resultMap id="newsEntity" type="com.web.server.entity.NewsEntity">
		<result column="ID" property="id" />
		<result column="TYPE" property="type" />
		<result column="TITLE" property="title" />
		<result column="DESCRIPTION" property="description" />
		<result column="CONTENT" property="content" />
		<result column="IMAGE" property="image" />
		<result column="PUBLISH_TIME" property="publishTime" />
		<result column="IS_PUBLIC" property="isPublic" />
		<result column="IS_TOP" property="isTop" />
		<result column="UPD_USER" property="updUser" />
		<result column="UPD_TIME" property="updTime" />
	</resultMap>
	
</mapper>