<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.server.dao.IMenuDao">

	<!-- 查詢所有餐點 (後台-餐點管理) -->
	<select id="queryMeals" resultMap="mybatis.mapper.menu.entity.mealEntity">
		SELECT sub.NAME SUB_CATEGORY_NAME, meal.* FROM MEALS meal 
		LEFT JOIN SUB_CATEGORY sub on meal.SUB_CATEGORY = sub.ID
		where meal.CATEGORY = #{categoryId} order by meal.SUB_CATEGORY, meal.SORT
	</select>
	
	<!-- 查詢單一餐點 (後台-餐點修改) -->
	<select id="querySingleMeal" resultMap="mybatis.mapper.menu.entity.mealEntity">
		SELECT * FROM MEALS WHERE ID = #{mealId}
	</select>
	
	<!-- 儲存餐點修改(修改單一餐點) -->
	<update id="updateSingleMeal">
		UPDATE MEALS
		SET CATEGORY = #{meal.category}, 
			SUB_CATEGORY = #{meal.subCategory}, 
			NAME = #{meal.name}, 
			DESCRIPTION = #{meal.description}, 
			INGREDIENT = #{meal.ingredient}, 
			NOTE = #{meal.note}, 
			PRICE = #{meal.price}, 
			IMAGE = #{meal.image}, 
			LIMIT_DATE = #{meal.limitDate}, 
			IS_PUBLIC = #{meal.isPublic}
		WHERE ID = #{meal.id}
	</update>
	
	<!-- 儲存餐點修改(新增單一餐點) -->
	<insert id="insertSingleMeal">
		INSERT INTO MEALS (
			ID,
			CATEGORY,
			SUB_CATEGORY,
			NAME,
			DESCRIPTION,
			INGREDIENT,
			NOTE,
			PRICE,
			IMAGE,
			ADDED_TIME,
			LIMIT_DATE,
			SORT,
			IS_PUBLIC,
			UPD_TIME
		)
		VALUES (
			#{meal.id},
			#{meal.category},
			#{meal.subCategory},
			#{meal.name},
			#{meal.description},
			#{meal.ingredient},
			#{meal.note},
			#{meal.price},
			#{meal.image},
			#{meal.addedTime},
			#{meal.limitDate},
			#{meal.sort},
			#{meal.isPublic},
			#{meal.updTime}
		)
	</insert>
	
	<!-- 刪除單一餐點(餐點管理) -->
	<delete id="deleteSingleMeal">
		DELETE FROM MEALS WHERE ID = #{mealId}
	</delete>
	
	<!-- 更新餐點順序 -->
	<update id="updateMealsSort" parameterType="java.util.ArrayList">
		<foreach item="meal" collection="mealList" open="" close="" separator=";">
			UPDATE MEALS SET SORT = #{meal.sort}, UPD_TIME = #{meal.updTime} WHERE ID = #{meal.id} 
		</foreach>
	</update>
	
	<!-- 查詢特定種類的餐點 (前台) -->
	<select id="queryMenuSpecCate" resultMap="mybatis.mapper.menu.entity.menuSpecCateEntity">
		SELECT sub.NAME, meal.NAME MEAL_NAME, meal.DESCRIPTION, meal.INGREDIENT, meal.NOTE, meal.PRICE, meal.IMAGE, meal.LIMIT_DATE , meal.SORT
		FROM MEALS meal
		LEFT JOIN SUB_CATEGORY sub ON meal.SUB_CATEGORY = sub.ID
		WHERE meal.CATEGORY = #{categoryId} AND meal.IS_PUBLIC = 1 AND (meal.LIMIT_DATE >= #{today} OR meal.LIMIT_DATE IS NULL) ORDER BY meal.SORT
	</select>

</mapper>