<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.server.dao.IFeedbackDao">
	
	<!-- 儲存回饋 -->
	<insert id="insertFeedback">
		INSERT INTO FEEDBACK (
			NAME,
			PHONE,
			EMAIL,
			SUBSCRIPTION,
			TOPIC,
			DATE,
			PERIOD,
			OPINION,
			RATING
		)
		VALUES (
			#{feedback.customerName},
			#{feedback.phone},
			#{feedback.email},
			#{feedback.subscription},
			#{feedback.topic},
			#{feedback.date},
			#{feedback.period},
			#{feedback.opinion},
			#{feedback.rating}
		)
	</insert>
	
	<!-- 查詢總回饋數量 by 月份 -->
	<select id="queryTotalCount" resultMap="mybatis.mapper.feedback.entity.feedbackDetailEntity">
		SELECT MONTH(DATE) AS MONTH, COUNT(*) AS COUNT FROM FEEDBACK
		GROUP BY MONTH(DATE) ORDER BY MONTH ASC
	</select>
	
	<!-- 查詢用餐時段 by 月份 -->
	<select id="queryPeriodCount" resultMap="mybatis.mapper.feedback.entity.feedbackDetailEntity">
		SELECT MONTH(DATE) AS MONTH, COUNT(*) AS COUNT FROM FEEDBACK
		WHERE PERIOD = #{period}
		GROUP BY MONTH(DATE) ORDER BY MONTH ASC
	</select>
	
	<!-- 查詢分數 by rate -->
	<select id="queryRating" resultMap="mybatis.mapper.feedback.entity.feedbackRateEntity">
		SELECT RATING, COUNT(*) AS COUNT FROM  FEEDBACK
		GROUP BY RATING ORDER BY RATING
	</select>
	
</mapper>