<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.server.dao.IMenuDao">

	<!-- 查詢所有餐點 for 後台 -->
	<select id="queryMenu" resultMap="mybatis.mapper.menu.entity.menuEntity">
		SELECT * FROM MEALS
		ORDER BY CATEGORY ASC, SUB_CATEGORY ASC, -SORT DESC
		<!-- 說明：因為 ORDER BY 會是 NULL < 1 < 2 <...，所以需要加上負號並遞減排序 -->
	</select>
	
	<!-- 查詢特定種類的餐點 for 前台 -->
	<select id="queryMenuSpecCate" resultMap="mybatis.mapper.menu.entity.menuSpecCateEntity">
		SELECT sub.ID, sub.NAME, meal.NAME MEAL_NAME, meal.DESCRIPTION, meal.INGREDIENT, meal.NOTE, meal.PRICE, meal.IMAGE, meal.LIMIT_DATE 
		FROM MEALS meal
		LEFT JOIN SUB_CATEGORY sub ON meal.SUB_CATEGORY = sub.ID
		WHERE meal.CATEGORY = #{categoryId} AND meal.IS_PUBLIC = 1 AND (meal.LIMIT_DATE >= #{today} OR meal.LIMIT_DATE IS NULL) ORDER BY meal.SORT
	</select>

	<!-- 新增餐點 -->
	<insert id="insertMenu">
		INSERT INTO MEALS (
			ID,
			CATEGORY,
			SUB_CATEGORY,
			NAME,
			DESCRIPTION,
			INGREDIENT,
			NOTE,
			PRICE,
			IMAGE,
			ADDED_TIME,
			LIMIT_DATE,
			SORT,
			IS_PUBLIC,
			UPD_TIME
		)
		VALUES (
			#{menuEntity.id},
			#{menuEntity.category},
			#{menuEntity.subCategory},
			#{menuEntity.name},
			#{menuEntity.description},
			#{menuEntity.ingredient},
			#{menuEntity.note},
			#{menuEntity.price},
			#{menuEntity.image},
			#{menuEntity.addedTime},
			#{menuEntity.limitDate},
			#{menuEntity.sort},
			#{menuEntity.isPublic},
			#{menuEntity.updTime}
		)
	</insert>

	<!-- 刪除特定餐點 -->
	<delete id="deleteSpecMenu">
		DELETE FROM MEALS WHERE ID = #{menuId}
	</delete>
	
</mapper>