<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.entity">

	<!-- 訊息Entity -->
	<resultMap id="newsEntity" type="com.web.server.entity.NewsEntity">
		<result column="ID" property="id" />
		<result column="TYPE" property="type" typeHandler="org.apache.ibatis.type.EnumTypeHandler" />
		<result column="TITLE" property="title" />
		<result column="DESCRIPTION" property="description" />
		<result column="CONTENT" property="content" />
		<result column="IMAGE" property="image" />
		<result column="PUBLISH_TIME" property="publishTime" />
		<result column="IS_PUBLIC" property="isPublic" />
		<result column="IS_TOP" property="isTop" />
		<result column="UPD_USER" property="updUser" />
		<result column="UPD_TIME" property="updTime" />
	</resultMap>

	<!-- 餐點Entity -->
	<resultMap id="menuEntity" type="com.web.server.entity.MenuEntity">
		<result column="ID" property="id" />
		<result column="CATEGORY" property="category" typeHandler="org.apache.ibatis.type.EnumTypeHandler" />
		<result column="SUB_CATEGORY" property="subCategory"  typeHandler="org.apache.ibatis.type.EnumTypeHandler" />
		<result column="NAME" property="name" />
		<result column="DESCRIPTION" property="description" />
		<result column="INGREDIENT" property="ingredient" />
		<result column="NOTE" property="note" />
		<result column="PRICE" property="price" />
		<result column="IMAGE" property="image" />
		<result column="ADDED_TIME" property="addedTime" />
		<result column="LIMIT_DATE" property="limitDate" />
		<result column="SORT" property="sort" />
		<result column="IS_PUBLIC" property="isPublic" />
		<result column="UPD_TIME" property="updTime" />
	</resultMap>

	<!-- 餐點種類Entity -->
	<resultMap id="menuCategoryEntity" type="com.web.server.entity.MenuCategoryEntity">
		<result column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="ZH_NAME" property="zhName" />
		<result column="ICON" property="icon" />
		<result column="SORT" property="sort" />
	</resultMap>

	<!-- 餐點次分類Entity -->
	<resultMap id="menuSubCategoryEntity" type="com.web.server.entity.MenuSubCategoryEntity">
		<result column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="CATEGORY_ID" property="categoryId" />
		<result column="SORT" property="sort" />
	</resultMap>
	
</mapper>